.article-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
  text-align: left;
}

.article-preview a {
  text-decoration: none;
}

.article-preview .article-meta {
  margin: 0 0 1rem;
}

.article-preview .preview-link h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3px;
  color: #000000;
}

.article-preview .preview-link p {
  font-weight: 300;
  font-size: 24px;
  color: #999;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.3rem;
}

.article-preview .preview-link span {
  max-width: 30%;
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
  vertical-align: middle;
}

.article-preview .preview-link ul {
  float: right;
  max-width: 50%;
  vertical-align: top;
}

.article-preview .preview-link ul li {
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
}

.article-meta {
  display: block;
  position: relative;
  font-weight: 300;
}

.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.article-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.article-meta .info .author {
  display: block;
  font-weight: 500;
  color: #5cb85c;
}

.article-meta .info .author:hover {
  text-decoration: underline;
  color: #3d8b3d;
}

.article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.pull-xs-right {
  float: right;
}

.btn-outline-primary {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

ul.tag-list {
  padding-left: 0;
  display: inline-block;
  list-style: none;
}

ul.tag-list li {
  display: inline-block;
}

.tag-default {
  background-color: #818a91;
}

.tag-default[href]:focus,
.tag-default[href]:hover {
  background-color: #687077;
}

.tag-default {
  color: #fff;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
}

.tag-default:hover {
  text-decoration: none;
}

.tag-default.tag-outline {
  border: 1px solid #ddd;
  color: #aaa;
  background: 0 0;
  border: 1px solid #dddddd;
  border-radius: 160px;
  color: #aaaaaa;
  margin: 0px 3px 3.2px 0px;
  padding: 0px 7.68px;
}
