.nav-brand {
  font-size: 24px;
  font-family: "Titillium Web";
  color: #5cb85c;
  grid-area: auto;
  line-height: 36px;
  margin-right: 32px;
  padding: 0px 0px 4px;
  font-weight: 700;
}

.nav-brand:hover {
  color: #5cb85c;
}
